body{
    margin: 0px;
    padding:0px;
    text-align: center;
    background: lightblue;
    

}
h1{
    font-size: 45px;
    
}


input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(244, 244, 40);
    color: black;

}

.btn:hover{
    background-color: rgb(27, 198, 70);
    cursor: pointer;
}

